*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.wrap{
    padding: 20px;
    margin: 0 auto;
}
.wrap-title li{
    margin-bottom: 6px;
}
.wrap-title button{
    padding: 6px;
    font-size: 16px;
}
.wrap-view, .wrap-code{
    padding: 10px;
    border: 1px solid #000;
}
.title{
    margin-bottom: 20px;
    text-align: center;
}
.title.sub{
    color: darkblue;
}
.title.h3{
    color: red;
}
pre{
    white-space: pre-wrap;
}
@media screen and (min-width: 1200px) {
    .wrap{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
    }
}